@import "../../config.scss";

.news {
  display: flex;
  flex-direction: column;
  background-color: #f5f3e3;
  margin: 0.5em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 4px;

  &__category {
    margin: 0;
  }

  &__list {
    padding-left: 0;
  }

  &__article {
    list-style: none;
    margin-bottom: 0.5em;
  }

  &__text {
    color: black;
  }

  &__link {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  &__error {
    padding-left: 1em;
  }

  &__loading {
    padding-left: 1em;
  }
}
