@import '../../config';

.news {
  background-color: #f5f3e3;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 1em;

  &__category {
    margin: 0;
  }

  &__list {
    padding-left: 0;
  }

  &__article {
    list-style: none;
    margin-bottom: 0.5em;
  }

  &__text {
    color: #000;
  }

  &__link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }

  &__error {
    padding-left: 1em;
  }

  &__loading {
    padding-left: 1em;
  }
}
